@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);

article {
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

aside {
  color: #999;
  font-size: 0.8em;
  font-style: italic;
}

code pre {
  margin: 0;
  padding: 0;
}

code .tag {
  color: #000080;
}

code .tag .attribute {
  color: #008080;
}

code .tag .value {
  color: #d14 !important;
}

code.javascript {
  color: rgb(102, 102, 102);
}

code.javascript .kwd {
  color: #008;
}

code.javascript .lit {
  color: #066;
}

code.javascript .str {
  color: #080;
}

code.javascript .typ {
  color: #606;
}

dd, dt {
  float: left;
}

dt {
  clear: left;
  margin-right: 4px;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 60px !important;
  line-height: 1.2em !important;
}

nav {
  width: 170px;
}

#download {
  margin: 20px 10px;
}

#download a {
  display: block;
  margin: 10px 3%;
  min-width: 175px;
  text-align: center;
}

#what_is_it li {
  margin-bottom: 7px;
}

.author {
  margin: -30px 0 0 95px;
}

.method-title {
  margin: 30px 0 15px;
}

.uk-nav > li > a {
  padding-bottom: 2px;
  padding-top: 2px;
}

.uk-nav .uk-nav-header > a {
  color: rgb(68, 68, 68);
  padding: 0;
}

.uk-nav .uk-nav-header > a:hover {
  text-decoration: underline;
}

.uk-nav-sub {
  padding-top: 0 !important;
}

.uk-nav-sub > li > a {
  padding: 0 15px;
}

.uk-panel.uk-panel-box {
  position: relative;
  margin-bottom: 20px;
  margin-top: 50px;
}

.uk-panel.uk-panel-box .uk-panel-title {
  border-left: 3px solid #1FA2D6;
  display: inline-block;
  font-size: 16px;
  left: 0px;
  line-height: 1em;
  padding-left: 5px;
  position: absolute;
  top: -25px;
}

@media (max-width: 955px) {
  nav {
    display: none;
  }
}

@media (min-width: 700px) {
  article, nav {
    float: left;
  }

  #download a {
    float: left;
    width: 27%;
  }
}

@media (min-width: 955px) {
  body {
    margin: 30px 3%;
    position: relative;
  }

  article {
    border-left: 1px solid #ddd;
    max-width: 730px;
    margin-left: 170px;
    padding-left: 30px;
  }

  nav {
    position: fixed;
  }
}