@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);

article {
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

aside {
  color: #999;
  font-size: 0.8em;
  font-style: italic;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 60px !important;
  line-height: 1.2em !important;
}

nav {
  width: 170px;
}

#download {
  margin: 20px 10px;
}

#download a {
  display: block;
  margin: 10px 3%;
  min-width: 175px;
  text-align: center;
}

.author {
  margin: -30px 0 0 95px;
}

.uk-nav .uk-nav-header > a {
  color: rgb(68, 68, 68);
  padding: 0;
}

.uk-nav .uk-nav-header > a:hover {
  text-decoration: underline;
}

@media (max-width: 955px) {
  nav {
    display: none;
  }
}

@media (min-width: 955px) {
  article {
    max-width: 750px;
  }
}

@media (min-width: 700px) {
  article, nav {
    float: left;
  }

  article {
    margin-bottom: 30px;
  }

  body {
    margin-top: 30px;
  }

  #download a {
    float: left;
    width: 27%;
  }
}
